
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
  
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(6px);
  
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen', monospace;
  color: white;
  font-size: 20px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  background-image: url("/img/fondo.jpg");
  background-size: cover;
}


h1{
    text-align: center;
    font-family: Silkscreen;
    color: white;
    text-shadow: 1px 1px 2px #000;
    
}
#dirIp[type="text"] {
  font-family: 'Silkscreen', monospace;
  background-color: #0b0b24;
  color: white;
  font-size: 18px;
   font-size: 14px;
  padding: 6px 8px; 
  width: 300px;
  padding: 10px;
  border: 3px solid white;
  text-align: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 2px 2px 0 #000;
}
#bitsMascara[type="text"] {
  font-family: 'Silkscreen', monospace;
  background-color: #0b0b24;
  color: white;
  font-size: 18px;
   font-size: 14px;
  padding: 6px 8px; 
  width: 100px;
  padding: 10px;
  border: 3px solid white;
  text-align: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 2px 2px 0 #000;
}

#boton1{
   display: block;
  margin: 10px auto;
  font-family: Silkscreen;
  color: white;
  background-color: #281346d5;
  padding: 10px 20px;
  border: 2px solid white;
}
#boton2, #boton3 {
   display: block;
  margin: 10px auto;
  font-family: Silkscreen;
  color: white;
  background-color: #281346d5;
  padding: 10px 20px;
  border: 2px solid white;
  
}

#entradaIp{
    padding-top: 2%;
    display: block;
    color: white;
    font-family: Silkscreen;
}

#mostrarDatos{
    display: none;
    text-align: center;
    color: white;
    font-family: Silkscreen;
}

#tablaDatos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Silkscreen;
    color: white;
}
#calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Silkscreen;
    color: white;

}
#mostrarSubredes{
   display: none;
    text-align: center;
    color: white;
    font-family: Silkscreen;
}